<ActionBar class="bg-dark">
    <GridLayout rows="auto" columns="auto, auto, *, auto, auto" width="100%">
        <Label col="0" class="fa f26 py-10 pr-10 text-white" text="&#xf060;"></Label>
        <NsImg col="1" [src]="'~/assets/images/zee.png'" class="ml-8" width="36dp" height="36dp" [roundAsCircle]="true"></NsImg>

        <GridLayout rows="auto, auto" col="2" columns="auto, *" class="ml-10">
            <Label row="0" col="0" colspan="2" class="work-sans-semibold f20 text-white" text="Azizi"></Label>
            
            <Label row="1" col="0" class="fas f10 text-persian-green border-white" height="10dp" width="10dp" borderWidth="1dp" borderRadius="100%" text="&#xf111;"></Label>
            <Label row="1" col="1" class="ml-4 f12 text-white" text="Online"></Label>
        </GridLayout>
        
        <Label col="3" class="fa f22 p-10 text-white" text="&#xf4d2;"></Label>
        <Label col="4" class="mr-4 p-10 fa f22 text-white" text="&#xf142;"></Label>
    </GridLayout>
</ActionBar>

<GridLayout class="bg-mirage">
    <RadListView [items]="messages">
        <ng-template let-message="item">
            <StackLayout class="mt-10 px-14 pb-8 border-charcoal-grey" borderBottomWidth="1dp">
                <Label class="text-white" [text]="message.message"></Label>
            </StackLayout>
        </ng-template>
    </RadListView>
    
    <GridLayout rows="auto" columns="*, auto" class="px-14 py-14 bg-outer-space" verticalAlignment="bottom">
        <TextView class="px-24 bg-mirage f14 text-white text-placeholder-charcoal-grey" height="40dp" borderRadius="100%" borderWidth="0" hint="Type a message"></TextView>

        <ContentView col="1" class="ml-10 bg-persian-green" height="40dp" width="40dp" borderRadius="100%">
            <Label class="fas f24 text-white text-center" text="&#xf1d8;"></Label>
        </ContentView>
    </GridLayout>
</GridLayout>