/* @import '@nativescript/theme/css/core.css'; */
/* @import '@nativescript/theme/css/default.css'; */

@import './assets/css/color.css';
@import './assets/css/font.css';
@import './assets/css/spacing.css';


.chat-left {
    background-color: var(--dark);
    height: 6dp; 
    width: 6dp; 
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.chat-right {
    background-color: var(--persian-green);
    height: 6dp; 
    width: 6dp; 
    clip-path: polygon(0 0, 0 100%, 100% 0);
}